
body{
    
    background-color: hsl(275, 100%, 97%);
}
img{
    position:relative;
    bottom:10px;
    right:10px;
}

div{
    background-color:white;
     width:450px;
    height:fit-content;
    border-radius:10px;
    position:relative;
    bottom:500px;
    left:480px;
    margin-top:300px;
    margin-right:500px;
    padding:10px;
}
i{
    position:relative;
    bottom:75px;
    font-size:30px;
}

button{
    float: right;
    position:relative;
    right:5px;
    bottom:35px;
    border-radius:15px;
    color:white;
    background-color: purple;
}




h1{color: hsl(292, 42%, 14%);
 font-size:50px;
 position:relative;
 left:36px;


}

p{font-size: 16px;
font-family:Georgia, 'Times New Roman', Times, serif;
color:hsl(292, 42%, 14%)}





.hidden{
    display: none;
}
.hidden.more{
    display:block ;
   color:   hsl(292, 16%, 49%);

}

.hidden2{
    display: none;
}
.hidden2.more2{
    display:block;
     color: hsl(292, 16%, 49%);
}
.hidden3{
    display: none;
}
.hidden3.more3{
    display:block;
    color: hsl(292, 16%, 49%);
}
.hidden4{
    display: none;
}
.hidden4.more4{
    display:block;
    color:  hsl(292, 16%, 49%);
}

